.QuizCard {
  height: 100%;
  padding-top: 70px;

 @media (max-width: 1025px) {
    padding-top: 60px;
  }

 @media (max-width: 375px) {
    height: 100%;
    overflow-y: scroll;
  }

  .container {
    height: 100%;
  }

  &.firstScreen {
    .QuizCard__title {
      animation: opacity 1s ease forwards;
    }

    .QuizCard__tip {
      animation: opacity 1s ease forwards;
    }

    .QuizCard__options {
      animation: bounce 1s ease forwards;
    }

    .QuizCard__image {
      animation: bounce 0.7s ease forwards;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;

   @media (max-width: 1025px) {
      flex-direction: column;
      align-items: center;
      height: 95%;
    }

   @media (max-width: 768px) {
      height: 90%;
    }
  }

  &__text {
    width: 100%;
    max-width: 580px;

   @media (max-width: 1025px) {
      max-width: 100%;
      text-align: center;
      margin-bottom: -90px;
    }

   @media (max-width: 480px) {
      text-align: center;
      height: 100%;
      max-height: 200px;
    }
  }

  &__title {
    margin-bottom: 34px;
    font-family: "Grtsk Giga";
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.03em;
    position: relative;
    z-index: 1;
    opacity: 0;

   @media (max-width: 1025px) {
      margin-bottom: 16px;
      font-size: 40px;
    }

   @media (max-width: 768px) {
      font-size: 32px;
    }

   @media (max-width: 400px) {
      font-size: 25px;
    }

   @media (max-height: 800px) {
      font-size: 25px;
    }
  }

  &__tip {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Barlow";
    position: relative;
    z-index: 1;
    opacity: 0;

   @media (max-width: 1025px) {
      font-size: 12px;
      justify-content: center;
    }

    &:before {
      content: "";
      width: 12px;
      height: 12px;
      display: inline-block;
      vertical-align: middle;
      background: url("../../images/star2.svg");
    }
  }

  &__options {
    display: flex;
    width: 100%;
    max-width: 678px;
    max-height: 650px;
    height: 100%;
    margin-top: -125px;
    gap: 10px;
    position: relative;
    z-index: 1;
    transform: translateY(120vh);

   @media (max-width: 1025px) {
      flex-direction: column;
      justify-content: flex-end;
      max-width: 100%;
      margin-top: -30px;
      gap: 10px;
    }
  }

  &__option {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    background: #f7f7f7;
    font-family: "Grtsk Zetta";
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    border: 1px solid #dddddd;

   @media (max-width: 1025px) {
      height: 300px;
      flex-basis: auto;
      border-radius: 5px;
      min-width: unset;
    }

   @media (max-width: 768px) {
      height: 120px;
      font-size: 18px;
      flex-grow: 0;
    }
  }

  &__option-hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;

   @media (min-width: 1025px) {
      &:hover + .QuizCard__option {
        background-color: #8bf62a;
        border: transparent;
        animation: hoverCard 4s linear infinite;
      }
    }
  }

  &__option-wrapp {
    width: calc(50% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 330px;
    position: relative;

   @media (min-width: 1025px) and (max-width: 1200px) {
      min-width: 290px;
    }

   @media (max-width: 1025px) {
      width: 100%;
    }

   @media (max-width: 1025px) {
      height: 300px;
      flex-basis: auto;
      border-radius: 5px;
      font-size: 18px;
      min-width: unset;
    }

   @media (max-width: 768px) {
      height: 120px;
      flex-grow: 0;
    }
  }

  &__image {
    width: 300px;
    height: 300px;
    margin-left: auto;
    transform: translateY(120vh);

    &.dragging {
      .img {
        display: none;
      }
      .img-border {
        display: block;
      }
    }

    &-drag {
      width: 100%;
      height: 100%;
      position: relative;
      animation: move 6s ease infinite;

      .img,
      .img-border {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .img-border {
        transform: scale(1.1);
        display: none;
      }
    }

   @media (max-width: 1025px) {
      margin: 40px auto 0;
      height: 270px;
    }

   @media (max-width: 480px) {
      height: 220px;
    }

   @media (max-width: 375px) {
      width: 220px;
      height: 200px;
      margin: 10px auto 0;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(120%);
  }

  25% {
    transform: translateY(-20%);
  }

  50% {
    transform: translateY(50%);
  }

  75% {
    transform: translateY(-10%);
  }

  85% {
    transform: translateY(5%);
  }

  90% {
    transform: translateY(3%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(25px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes hoverCard {
  0% {
    clip-path: path(
      "M153.035 15.0075C169.168 18.8822 206.336 -5.10459 237.708 15.0075C271.787 14.337 328.681 8.545 341.756 29.7141C364.196 66.0474 325.384 108.285 341.756 152.046C350.506 175.436 340.106 213.574 348.588 246.39C358.917 286.353 356.824 343.231 363.036 361.309C360.529 388.005 372.998 406.86 363.036 426.123C350.674 450.022 363.036 505.385 363.036 516.368C363.036 570.048 360.873 597.241 322.216 627.872C304.625 641.81 227.927 640.174 177.04 646.763C123.171 653.739 68.5469 652.547 51.0656 634.615C35.9108 619.069 11.2745 590.047 18.1319 553.803C23.5279 525.283 15.4109 486.951 6.89536 468.906C-11.0103 430.961 9.32619 399.566 6.89499 352.294C4.49621 305.652 -5.42676 263.258 0.910847 217.557C4.74952 189.877 8.88992 159.814 6.89499 129.986C4.28966 91.0314 13.4802 56.4168 29.613 29.7141C56.6254 -14.9964 114.47 5.74591 153.035 15.0075Z"
    );
  }
  10% {
    // clip-path: url(#svgClip_2);

    clip-path: path(
      "M127.441 22.418C140.466 26.2927 164.595 23.0041 188.645 22.418C216.155 21.7475 243.56 24.6133 254.115 45.7825C272.23 82.1157 240.898 103.739 254.115 147.5C261.179 170.889 269.731 202.209 276.578 235.025C284.917 274.988 290.727 317.168 288.242 349.944C286.218 376.641 279.871 397.537 271.828 416.8C261.849 440.7 249.259 462.085 239.075 488.911C218.2 543.898 265.116 570.362 233.909 600.993C219.709 614.931 179.174 628.809 138.094 635.398C94.6077 642.374 50.5119 641.183 36.3999 623.25C24.166 607.704 30.8642 571.284 36.3999 535.04C40.7558 506.52 44.392 478.109 37.5177 460.064C23.0632 422.119 2.70523 388.201 0.742622 340.929C-1.19382 294.288 22.1729 259.397 27.2891 213.696C30.3879 186.015 28.1881 155.239 26.5777 125.411C24.4744 86.4564 23.3765 49.121 36.3999 22.4183C58.206 -22.2922 96.3088 13.1564 127.441 22.418Z"
    );
  }

  20% {
    // clip-path: url(#svgClip_3);
    clip-path: path(
      "M118.796 31.4614C132.09 35.4091 167.836 20.8565 192.384 20.2595C220.466 19.5764 248.439 22.496 259.213 44.0635C277.705 81.0805 245.722 103.111 259.213 147.695C266.424 171.524 275.154 203.434 282.144 236.867C290.655 277.582 296.586 320.556 294.049 353.948C291.982 381.148 285.504 402.437 277.294 422.062C267.109 446.412 254.257 468.199 243.861 495.531C222.553 551.551 270.442 578.515 238.588 609.722C224.093 623.922 185.932 614.544 144 621.258C99.6109 628.365 51.3835 650.668 36.9785 632.398C24.4906 616.558 22.0279 570.171 27.6785 533.245C32.1249 504.189 30.6552 485.263 27.6785 454.834C23.3353 410.436 2.58428 392.926 0.58092 344.764C-1.39572 297.245 22.4562 261.697 27.6785 215.137C30.8417 186.935 15.9078 150.353 14.2639 119.964C12.1171 80.276 23.6847 47.465 36.9785 20.2598C59.2373 -25.292 87.0171 22.0256 118.796 31.4614Z"
    );
  }

  35% {
    // clip-path: url(#svgClip_4);
    clip-path: path(
      "M124.894 31.369C138.837 35.3008 175.981 20.7728 201.728 20.178C231.179 19.4978 260.518 22.4057 271.818 43.8866C291.213 80.7549 250.256 104.592 264.406 148.997C271.968 172.731 288.537 202.617 295.867 235.916C304.795 276.467 293.443 310.121 290.782 343.379C288.615 370.469 299.393 400.821 290.782 420.368C280.099 444.619 261.09 460.351 250.186 487.573C227.837 543.369 283.595 576.191 250.186 607.273C234.984 621.416 186.312 623.171 142.332 629.858C95.7767 636.936 53.844 648.054 38.7359 629.858C25.6384 614.083 32.8094 577.127 38.7359 540.349C43.3993 511.409 58.1374 474.094 50.7779 455.782C35.3031 417.278 2.66283 391.348 0.56168 343.379C-1.51145 296.051 33.2576 262.131 38.7349 215.758C42.0525 187.67 20.5305 153.831 18.8064 123.564C16.5547 84.0352 24.7932 47.2743 38.7359 20.1784C62.0812 -25.1904 91.5642 21.9711 124.894 31.369Z"
    );
  }

  40% {
    clip-path: url(#svgClip_5);
    clip-path: path(
      "M119.614 21.5791C133.56 25.6024 170.709 10.7361 196.461 10.1275C225.918 9.4313 274.229 7.73092 285.531 29.712C304.928 67.4389 232.032 93.2534 246.183 138.693C253.747 162.98 283.285 196.815 290.617 230.889C299.963 309.483 267.565 297.868 266.563 340.855C265.547 384.489 294.142 432.621 285.531 452.622C274.846 477.439 235.287 455.671 224.381 483.527C202.028 540.622 299.979 579.089 266.563 610.894C251.359 625.367 169.432 601.66 108.101 610.894C70.6717 616.53 28.7347 652.626 13.6241 634.005C0.524421 617.863 7.69663 571.585 13.6241 533.951C18.2883 504.338 48.6012 446.962 41.2405 428.224C25.763 388.823 2.64321 389.941 0.541706 340.855C-1.53178 292.425 27.9623 257.716 33.4404 210.262C36.7586 181.52 35.1649 143.639 33.4404 112.667C31.1884 72.2186 5.97398 35.7931 33.4414 10.1279C59.4547 -14.1786 86.279 11.9622 119.614 21.5791Z"
    );
  }

  45% {
    // clip-path: url(#svgClip_6);
    clip-path: path(
      "M124.894 27.1537C138.837 30.5571 175.981 17.9813 201.728 17.4664C231.179 16.8776 260.518 19.3948 271.818 37.9891C291.213 69.9033 250.256 90.537 264.406 128.975C271.968 149.52 288.537 175.39 295.867 204.215C304.795 239.317 293.443 268.448 290.782 297.238C288.615 320.687 299.393 346.96 290.782 363.881C280.099 384.873 261.09 398.491 250.186 422.055C227.837 470.353 283.595 498.765 250.186 525.67C234.984 537.913 186.312 539.432 142.332 545.22C95.7767 551.348 53.844 560.972 38.7359 545.22C25.6384 531.566 32.8094 499.575 38.7359 467.739C43.3993 442.688 58.1374 410.387 50.7779 394.536C35.3031 361.206 2.66283 338.76 0.56168 297.238C-1.51145 256.269 33.2576 226.907 38.7349 186.765C42.0525 162.452 20.5305 133.159 18.8064 106.96C16.5547 72.7428 24.7932 40.9216 38.7359 17.4667C62.0812 -21.8056 91.5642 19.0185 124.894 27.1537Z"
    );
  }

  55% {
    // clip-path: url(#svgClip_7);
    clip-path: path(
      "M121.566 49.9967C135.641 53.7909 165.63 21.0883 191.618 20.5144C221.345 19.8579 277.6 36.9372 289.006 57.6665C308.581 93.2447 289.006 149.658 249.297 160.44C209.59 171.223 286.739 215.253 294.138 247.386C303.57 321.504 290.015 310.551 289.006 351.09C287.98 392.238 297.696 437.629 289.006 456.491C278.223 479.895 269.212 485.495 258.207 511.764C235.649 565.607 303.586 575.755 269.864 605.749C254.52 619.398 187.328 649.339 134.714 627.544C82.099 605.749 47.7911 662.209 14.6044 627.544C-16.0709 595.503 28.1708 567.473 6.37788 511.764C-15.415 456.056 43.9101 492.378 56.0173 456.491C68.1244 420.604 3.52278 397.38 1.402 351.09C-0.690504 305.417 34.6036 286.397 34.6027 227.934C34.6017 169.471 1.40201 181.31 34.6027 135.897C67.8032 90.4848 6.88413 63.4011 34.6036 39.1976C60.8556 16.2754 87.9258 40.9275 121.566 49.9967Z"
    );
  }

  70% {
    // clip-path: url(#svgClip_8);
    clip-path: path(
      "M113.464 21.3939C127.668 25.2432 191.709 1.38462 217.938 0.802345C247.941 0.136285 279.899 15.2252 291.438 48.5582C304.778 87.0958 272.118 82.7532 248.028 143.138C223.937 203.522 295.269 180.986 302.737 213.586C323.253 246.654 292.457 305.117 291.438 346.245C290.403 387.991 327.788 398.527 302.737 453.177C291.854 476.921 271.461 482.602 260.353 509.253C237.586 563.879 305.576 575.263 248.028 626.716C232.541 640.562 176.67 611.752 130.403 611.837C84.7995 611.921 47.9829 661.884 14.4879 626.716C-16.4723 594.209 28.1803 565.771 6.18499 509.253C-15.8103 452.735 30.6491 461.341 42.8688 424.933C55.0884 388.524 8.32549 369.816 6.18499 322.854C4.07305 276.518 67.4774 248.091 51.0752 213.586C34.6728 179.08 -7.7369 108.632 42.869 108.632C93.4748 108.632 6.69594 54.3763 34.6728 29.8211C61.1686 6.56585 79.5098 12.193 113.464 21.3939Z"
    );
  }

  80% {
    // clip-path: url(#svgClip_9);
    clip-path: path(
      "M134.545 37.2351C149.128 41.0663 141.55 0.523127 190.582 0.523127C221.383 -0.139791 280.734 16.348 292.579 49.5238C313.927 109.314 253.334 88.6926 242.616 114.738C231.897 140.784 296.512 152.656 304.179 185.103C325.241 218.015 280.686 304.274 279.639 345.208C278.578 386.756 329.896 397.841 304.179 452.234C293.006 475.866 283.037 462.471 271.634 488.996C259.627 556.302 339.671 592.944 266.631 619.527C224.603 634.824 237.078 606.186 189.581 606.271C142.764 606.354 80.2075 662.688 45.8213 627.686C14.0374 595.333 39.2023 542.351 13.4657 509.391C-12.2708 476.433 4.29045 420.672 37.3968 408.434C70.5031 396.197 7.65654 350.137 5.45911 303.397C3.29098 257.28 98.1909 213.774 45.8213 213.774C-6.54876 213.774 -14.5555 109.314 37.3968 109.314C89.3495 109.314 0.261296 55.3143 28.9826 30.875C56.1833 7.7295 99.6876 28.0776 134.545 37.2351Z"
    );
  }

  85% {
    clip-path: path(
      "M127.133 25.1498C141.77 29.0198 137.58 0.0399237 186.794 0.0399237C217.71 -0.629719 277.281 16.0253 289.17 49.5376C310.597 109.934 273.884 92.0023 263.126 118.313C252.368 144.622 293.118 153.716 300.813 186.492C314.724 305.986 278.256 272.401 277.206 313.751C276.139 355.722 326.625 401.389 300.813 456.333C289.598 480.205 281.739 487.277 270.294 514.07C265.1 545.462 287.229 611.933 263.126 625.323C223.741 647.206 189.616 619.482 141.943 619.567C94.9516 619.651 56.0031 660.681 21.4894 625.323C-10.4125 592.642 47.3226 530.332 21.4906 497.038C-4.34152 463.745 24.5852 457.769 33.0409 412.088C41.4967 366.408 3.19034 353.2 0.984761 305.986C-1.19141 259.401 41.4962 232.74 41.4967 215.454C41.4971 198.167 -34.4896 176.31 21.4906 130.464C77.4707 84.6183 0.98476 99.0725 24.5954 30.6997C36.4698 -3.6865 92.1462 15.8994 127.133 25.1498Z"
    );
  }

  90% {
    clip-path: path(
      "M131.567 41.0706C144.822 44.7459 174.653 28.3034 219.219 28.3034C247.215 27.6674 269.37 45.6816 280.137 77.5079C290.68 108.675 284.656 113.312 274.914 138.298C265.172 163.284 263.673 178.81 280.137 199.332C296.6 219.854 281.087 317.21 280.137 356.48C279.171 396.338 314.054 411.657 290.68 463.838C280.524 486.508 266.916 477.048 256.552 502.494C251.849 532.307 278.379 611.608 256.552 624.326C221.253 644.894 214.912 624.245 171.741 624.326C129.188 624.406 87.109 657.904 55.8548 624.326C26.9659 593.289 47.2213 562.752 23.829 531.133C0.436732 499.515 42.6499 465.503 50.3071 422.121C57.9642 378.739 21.1671 382.501 19.1699 337.662C17.1992 293.42 37.737 270.602 37.7373 254.184C37.7377 237.767 -31.5232 195.586 19.1699 152.047C69.8629 108.508 19.169 124.551 40.5498 59.6178C51.3027 26.9616 99.8857 32.2855 131.567 41.0706Z"
    );
  }

  95% {
    clip-path: path(
      "M124.182 33.3073C138.017 37.1718 182.173 0.380958 228.694 0.380958C257.918 -0.287731 281.045 10.3395 292.284 43.8041C303.289 76.5753 258.208 92.0854 248.039 118.357C237.87 144.63 275.098 158.635 292.284 180.213C309.469 201.792 304.282 254.931 303.289 296.221C302.281 338.132 327.689 403.468 303.289 458.335C292.688 482.172 258.675 488.395 248.039 519.882C234.501 559.962 290.448 613.711 267.665 627.084C230.817 648.711 211.515 609.261 166.45 609.346C122.031 609.43 71.8767 662.391 39.2517 627.084C9.09568 594.449 49.1517 562.341 24.7333 529.094C0.314937 495.849 24.7695 463.253 32.7625 417.637C40.7555 372.021 21.9547 372.811 19.8698 325.664C17.8127 279.145 37.8946 273.104 39.2517 237.889C40.8972 195.192 -33.0469 176.275 19.8698 130.494C72.7865 84.7137 13.8457 64.1745 42.1876 33.3073C65.8995 7.48262 91.1098 24.07 124.182 33.3073Z"
    );
  }

  100% {
    // clip-path: url(#svgClip_10);
    clip-path: path(
      "M153.035 15.0075C169.168 18.8822 206.336 -5.10459 237.708 15.0075C271.787 14.337 328.681 8.545 341.756 29.7141C364.196 66.0474 325.384 108.285 341.756 152.046C350.506 175.436 340.106 213.574 348.588 246.39C358.917 286.353 356.824 343.231 363.036 361.309C360.529 388.005 372.998 406.86 363.036 426.123C350.674 450.022 363.036 505.385 363.036 516.368C363.036 570.048 360.873 597.241 322.216 627.872C304.625 641.81 227.927 640.174 177.04 646.763C123.171 653.739 68.5469 652.547 51.0656 634.615C35.9108 619.069 11.2745 590.047 18.1319 553.803C23.5279 525.283 15.4109 486.951 6.89536 468.906C-11.0103 430.961 9.32619 399.566 6.89499 352.294C4.49621 305.652 -5.42676 263.258 0.910847 217.557C4.74952 189.877 8.88992 159.814 6.89499 129.986C4.28966 91.0314 13.4802 56.4168 29.613 29.7141C56.6254 -14.9964 114.47 5.74591 153.035 15.0075Z"
    );
  }
}
