.App {
  height: 100dvh;
  overflow: hidden;
  background: center / cover no-repeat url("./images/background.png");
  position: relative;
  opacity: 0;
  visibility: hidden;
  animation: fadeInApp 0.1s linear 1s forwards;

  &.white {
    background: #fff;
    height: 100vh;

    .MainQuiz {
      height: 100%;
    }

    @media (max-width: 1025px) {
      height: 100vh;
    }
  }

  &__loader-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    height: 100dvh;
    width: 100%;
    z-index: 999;
    pointer-events: none;
  }

  &__loader {
    width: 100%;
    height: 100%;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;

  @media (max-width: 1025px) {
    padding: 0 20px;
  }
}

.btn-purple {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 460px;
  height: 130px;
  padding: 0;
  border: none;
  appearance: none;
  color: #fff;
  font-family: "Grtsk Giga";
  outline: none;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  pointer-events: all;
  position: relative;
  // background-image: url("./images/hover.gif");
  background-size: contain;

  br {
    @media (min-width: 1025px) {
      display: none;
    }
  }

  @media (max-width: 1025px) {
    font-size: 16px;
  }

  @media (max-width: 769px) {
    width: 300px;
  }

  @media (min-width: 1025px) {
    &:hover {
      &::after {
        transform: translate(-50%, -50%) scale(1, 1.4);
      }
    }

    &:active {
      &::before {
        opacity: 1;
      }
    }
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   left: 50%;
  //   top: 54%;
  //   width: 441px;
  //   height: 200px;
  //   background: center / 100% no-repeat url("/images/purple_active.svg");
  //   z-index: 1;
  //   transform: translate(-50%, -50%);
  //   opacity: 0;
  //   transition: opacity 0.5s ease;

  //   @media (max-width: 769px) {
  //     width: 350px;
  //   }
  // }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   left: 50%;
  //   top: 50%;
  //   width: 466px;
  //   height: 137px;
  //   z-index: -1;
  //   transform: translate(-50%, -50%);
  //   background: center / 100% no-repeat url("/images/star_purple.png");
  //   transition: transform 0.5s ease;

  //   @media (max-width: 769px) {
  //     width: 390px;
  //   }

  //   @media (max-width: 375px) {
  //     width: 300px;
  //   }
  // }
}

.btn-green {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 460px;
  height: 130px;
  padding: 0;
  border: none;
  appearance: none;
  color: #000;
  font-family: "Grtsk Giga";
  outline: none;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  pointer-events: all;
  position: relative;

  @media (max-width: 1025px) {
    font-size: 16px;
  }

  @media (max-width: 769px) {
    width: 300px;
  }
}

.btn-back {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
  position: relative;
  width: 190px;
  height: 100px;
  font-size: 18px;
  letter-spacing: -0.03em;
  font-weight: 700;
  color: #6018f2;
  z-index: 1;
  cursor: pointer;

  @media (max-width: 1025px) {
    width: 175px;
    height: 55px;
    font-size: 16px;
  }

  @media (min-width: 1025px) {
    &:hover {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }

    &:active {
      &::after {
        transform: translateY(-15px);
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: center / contain no-repeat url("/images/back.svg");

    @media (max-width: 1025px) {
      background: center / contain no-repeat url("/images/back_mob.svg");
    }
  }

  @media (min-width: 1025px) {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      top: 10px;
      left: 5px;
      height: 100%;
      background: center / contain no-repeat url("/images/back_after.svg");
      z-index: -2;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
    }
  }
}

@keyframes fadeInApp {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

.hover__purple-wrapp {
  position: absolute;
  right: -77%;
  top: -350px;
  width: 1200px;
  height: 800px;
  pointer-events: none;

  &.click {
    width: 1500px;
    right: -108%;
  }

  @media screen and (max-width: 1025px) {
    right: -150%;
  }
}

.hover__purple {
  width: 100%;
  height: 100%;
}

.hover__green-wrapp {
  position: absolute;
  right: auto;
  left: auto;
  top: -300px;
  width: 1200px;
  height: 800px;
  pointer-events: none;

  &.click {
    animation: scale 1s linear;
  }

  &.result {
    top: -350px;
  }

  @media screen and (max-width: 1025px) {
    &.result {
      right: auto;
    }
  }
}

.hover__green {
  width: 100%;
  height: 100%;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1);
  }
}
